* {
    box-sizing: border-box;
}


/*Style for block*/

.common {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 60%;
    height: calc(100vh - 100px);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background: rgba(43, 38, 185, 0.8);
}

h1.header-caption {
    color: aliceblue;
    transition: transform 6s ease;
    transform-origin: 50% 50%%;
}

h1.header-caption:hover {
    transform: rotate(360deg);
}


/*End Style For Block*/

.vivat {
    color: blue;
    font-size: 88px;
}

h2 {
    font-size: 80px;
    color: rgb(255, 10, 0);
}

input[type="submit"] {
    display: block;
    margin-bottom: 20px;
}